---
import dayjs from "dayjs";

export interface Props {
  video: any;
}

const { video } = Astro.props;
---

<a
  href={`https://www.youtube.com/watch?v=${video?.id?.videoId}`}
  class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden group"
  data-test="article-card"
  target="_blank"
>
  <div class="relative">
    <img
      class="squiggle"
      src={video.snippet.thumbnails.default.url}
      alt={video.snippet.title}
      width="360"
      height="192"
    />
    <div class="absolute inset-0 flex justify-center items-center">
      <div
        class="p-2 rounded-full opacity-80 group-hover:opacity-100 transition-opacity"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#fdcb50"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          class="w-24 h-24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.752 11.168l-6.96-3.992A1 1 0 006 8v8a1 1 0 001.792.832l6.96-3.992a1 1 0 000-1.664z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="py-6 px-8">
    <h2 class="font-bold text-2xl leading-tight uppercase">
      {video.snippet.title}
    </h2>
    <p class="text-xs text-gray-600 mt-4 flex items-center">
      {dayjs(video.snippet.publishedAt).format("MM-DD-YYYY")}
    </p>
    <p class="text-xs text-gray-600 mt-4 flex items-center text-ellipsis whitespace-nowrap	overflow-hidden">
      {video.snippet.description}
    </p>
  </div>
</a>

<style>
  img {
    width: 100%;
    object-fit: cover;
  }
  .absolute {
    position: absolute;
  }
</style>
